body {
    background-color: #FEFFED;
    margin: 0px auto 0px;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    color: #838C49;
}

header {
    padding-top: 80px;
    color: #FEFFED;
    display: block;
    height: 500px;
    width: 100vw;
    background: linear-gradient(
            rgba(107, 14, 32, 0.7),
            rgba(107, 14, 32, 0.7)
    ),
    url(http://lorempixel.com/g/1375/580/city/4);
}

footer {
    background-color: #6B0E20;
    color: #FEFFED;
    display: block;
    height: 20vh;
    width: 100vw;
}
