body {
    background-color: #FEFFED;
    margin: 0px auto 0px;
    font-size: 15px;
    font-family: "helvetica neue";
}

header {
    padding-top: 80px;
    /*background-color: #A83B4E;*/
    color: #FEFFED;
    display: block;
    height: 70vh;
    width: 100vw;
    background: linear-gradient(to bottom, rgba(168,59,78,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
    /*background-image: url(../assets/how-to-navigate-by-stars.png);*/
}

footer {
    background-color: #A83B4E;
    color: #FEFFED;
    display: block;
    height: 20vh;
    width: 100vw;
}
