.box {
    border-top: 20px solid #C1C592;
    border-bottom: 20px solid #C1C592;
    background-color: #0A0E0D;
    height: 90vh;
    width: 100vw;
    margin: 200px 0px;
    box-sizing: border-box;
    color: #FFFFFF;
    text-align: left;
    position: relative;
}

.box::before{
    width: 100%;
    height: calc(100% - 20px);
    display: block;
    border-top: 10px solid #838C49;
    border-bottom: 10px solid #838C49;
    content: " ";
}

.box__container {

}

.personal-statement {
    padding: 10px 20px 10px;
    font-size: 30px;
    width: 100%;
    height: 100px;
    text-align: left;
    font-weight: 400;
    color: #C1C592;
    position: absolute;
    top: 0;
}