$header: linear-gradient(
            rgba(64, 91, 96, 0.7),
            rgba(103, 115, 110, 0.2)
    );
$background: #FFFFFF;
$primary-font-color: #458FB3;
$secondary-font-color: #143748;
$shadow-color: rgba(10, 14, 13, 0.75);
$footer: #143748;
$inner-box-border: #143748;
$outer-box-border: #458FB3;

// tile colors
$odd-tile-border: #DFDFDF;
$odd-tile-background: #EEE;
$even-tile-border: #143748;
$even-tile-background: #DFDFDF;
